{% extends "index.html" %}

{% block title %} product page {% endblock title %}

{% block content %}
<h1>I am rendering product page</h1>
<p>My name is {{name}} and age is {{age}}</p>
<h1>My hobbie is {{hobbies.0}}</h1>
<h2>my department is {{department.cs}}</h2>
<h3>{{ECE | default:"no data found"}}</h3>


<p>My name is {{name | upper}} and age is {{age}}</p>
<p>My name is {{name | lower}} and age is {{age}}</p>
<p>My name is {{name | title}} and age is {{age}}</p>
<p>My name is {{name | capfirst}} and age is {{age}}</p>
<p>{{profession | truncatewords:3}}</p>
<p>My profession is : {{profession}}</p>
<p>My profession is : {{profession | linebreaks}}</p>
<p>My salary is : {{salary | add:"100"}}</p>
{% comment %} <p>Is my salary divisible: {{salary | add:"100" | divisibleby:"3"}}</p> {% endcomment %}
<p>My hobbies are: {{hobbies}}</p>
<p>My hobbies are: {{hobbies.0}}</p>
<p>My hobbies are: {{hobbies | first}}</p>
<p>My hobbies are: {{hobbies | last}}</p>
<p>Lenght of the array are : {{hobbies | length}}</p>
{% comment %} If else statement in django {% endcomment %}

{% if age <= 19 %}
<p>I am in teenager</p>
{% else %} 
<p>I am not teenager</p>
{% endif %}

{% comment %} if, elif condition statement in django{% endcomment %}
{% comment %} {% if age <= 19 %}
<p>I am in teenage</p>
{% elif age > 19 and age < 30 %}
<p>I am in young age...</p>
{% else %}
<p>I am in middle age</p>
{% endif %}

{% for data in hobbies %}
<p>{{data}}</p>
{% endfor %} {% endcomment %}

<p>I do have one student{{Student | pluralize}}</p>

{% endblock %}