<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student_info</title>
</head>
<body>
    <h1> I am showing student information</h1>
    <p>Total number of students are {{data.students_record | length}}</p>

    {% comment %} <p>{{data.students_record}}</p> {% endcomment %}
    <table border = "2" >
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
            <th>Course</th>
            <th>Email</th>
            <th>Marks</th>
            <th>Attendance</th>
            <th>Performance</th>
        </tr>

        {% for data in data.students_record %}
        <tr style = "background-color:{% cycle "blue" "red" "green" %}; color:white">
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.age}}</td>
            <td>{{data.city}}</td>
            <td>{{data.course}}</td>
            <td>{{data.email}}</td>
            <td>{{data.marks}}</td>
            <td>{{data.attendance}}</td>
            {% if data.marks >= 90 %}
            <td>Excellent</td>
            {% elif data.marks > 50 and data.marks < 90 %}
            <td>Average</td>
            {% else %}
            <td>Below Average</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>